.crew{
    width: 100%;
    height: 100vh;
    &__background{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        img{
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
    }
    &__main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 100px;
        padding: 0 100px 0 100px;
        position: relative;
        z-index: 1;
    }
}

@media (max-width:1350px) {
    .crew{
        &__main{
            flex-direction: column-reverse;
            margin-top: 0;
            align-items: center;
            padding: 0 50px 0 50px;
        }
    }
}
