.destination{
    width: 100%;
    height: 100vh;
    &__background{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
    }
}